@model Projeto.Presentation.Models.UsuarioCriarContaViewModel

<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>VJC</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/centralcontente.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
   

</head>

<body class="container">
    <div>
        <h2>Criar conta de Usuário</h2>
        <a href="/Home/Index" id="inicial">Página inicial</a>

        <hr />
        @using (Html.BeginForm("CadastrarUsuario", "Usuario", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-4">
                    <label>Nome do Usuário</label>
                    @Html.TextBoxFor(model => model.Nome,
                       new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Nome)
                    </span>
                    <br />
                    <label>Email</label>
                    @Html.TextBoxFor(model => model.Email,
                       new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                    <br />
                    <label>Senha</label>
                    @Html.PasswordFor(model => model.Senha,
                       new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Senha)
                    </span>
                    <br />



                    <input type="submit" id="botao" value="Cadastrar Usuário"
                           class="btn btn-success btn-lg" />
                    <br />
                    <a href="/Usuario/Autenticar" id="inicial">Ir para o login </a>
                    <br />
                    @ViewBag.Mensagem
                </div>
            </div>

        }
    </div>
</body>


</html>
